$primary-white-color:#ffffff ;
$title-color: #212121;
$primary-text-color: #757575;
$accent-color: #2196F3;
$footer-contacts-color: rgba(255, 255, 255, 0.6);
$footer-color: #2F303A;
$section-team-color: #F5F4FA;
$secondary-wwhite-color: #E5E5E5;
$logo-color: #000000;
$icon-color: #AFB1B8;
$header-border-color: #ECECEC;
$transition :250ms cubic-bezier(0.4, 0, 0.2, 1);
$background-color: rgba(47, 48, 58, 0.8);