.activity{
    padding-bottom: 94px;
}
.activity__container{
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
}
.activity__title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16em;
    text-align: center;
    color: $title-color;
    margin-top: 0%;
    margin-bottom: 50px;
}
.activity__list{
    display: flex;
    list-style: none;
    padding: 0%;
    margin: 0%;
}
.activity__list>li{
    width: 370px;
    height: 294px;
}
.activity__list>li:not(:last-child){
    margin-right: 30px;
}
.activity__text{
    margin: 0%;  
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14em;
    text-align: center;
    text-transform: uppercase;
    color: $secondary-wwhite-color;}
.activity__item{
    margin:0%;
    display: flex;
    position: relative;
    width: 370px;
    height: 294px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    overflow: hidden;
}
.activity__description{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0%;
    width: 370px;
    height: 70px;
    box-sizing: border-box;
    background-color: $background-color;
    opacity: 1;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-transform: uppercase;
    margin: 0%;
}