.footer{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $footer-color;
}
.footer__container{
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    align-items: baseline;
}
.logo--footer{
    padding: 0%;
    display: block;
    color: $primary-white-color;
    margin-bottom: 20px;
    font-family: Raleway,sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19em;
}
.footer__address{
    font-size: 14px;
    line-height: 1.17em;
    color: $primary-white-color;
    font-style: normal;
}
.foorer__contacts{
    list-style: none;
    padding: 0%;
    margin-top: 9px;
    margin-bottom: 0%;
}
.foorer__contacts>li:not(:last-child){
    margin-bottom: 9px;
}
.contacts-element--footer{
    font-size: 14px;
    line-height: 1.71em;
    color: rgba(255, 255, 255, 0.6);
    padding: 0%;
}
.footer__element-first{
    margin-right: 70px;
}
.footer__element-second{
    display: flexbox;
}
.footer__title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14em;
    text-transform: uppercase;
    color: $primary-white-color;
    margin-top: 0%;
    margin-bottom: 20px;
}
.footer__social-list{
    list-style: none;
    padding: 0%;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    width: 206px;
    height: 44px;
    margin-top:0;
    margin-bottom: 0%;
}
.footer__social-list>li:not(:last-child){
    margin-right: 10px;
}
.footer__social-element{
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    color: $primary-white-color;
    border-radius: 50%;
    transition:  $transition;
    &:hover, &:focus{
        color: $primary-white-color;
        background-color: $accent-color;
    }
}

.footer__icon{
    width: 20px;
    height: 20px;
    fill: currentColor;
}
.footer__element-third{
    margin-left: auto;
}
.footer__blank{
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: $footer-color;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: $primary-white-color;
}
.footer__blank::placeholder{
    font-size: 16px;
    line-height: 1.25em;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.6);
}
.footer__button{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9em;
    align-items: center;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.06em;
    background-color: $accent-color;
    color: $primary-white-color;
    min-width: 200px;
    min-height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding-bottom: 10px;
    padding-top: 10px;
    border: none;
    margin-left: 12px;
}
.footer__submit{
    width: 24px;
    height: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}
.footer__icon--secondary{
    width: 24px;
    height: 24px;
    fill: currentColor;
}