.team{
    background-color: $section-team-color;
    padding-bottom: 94px;
    padding-top: 94px;
}
.team__container{
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
}
.team__title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16em;
    text-align: center;
    color: $title-color;
    margin-top: 0%;
    margin-bottom: 50px;
}
.team__list{
    display: flex;
    list-style: none;
    padding: 0%;
    margin: 0%;
}
.team__list>li{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

}
.team__list>li:not(:last-child){
    margin-right: 30px;
}
.team__description{
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0%;
    display: flexbox;
    justify-content: center;
    align-items: center;
    background-color: $primary-white-color;
}
.team__title-secondary{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19em;
    text-align: center;
    color: $title-color;
    margin-bottom: 10px;
    margin-top: 0%;
}
.team__text{
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: 16px;
    line-height: 1.19em;
    text-align: center;
}
.team__social-list{
    list-style: none;
    padding: 0%;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    width: 206px;
    height: 44px;
    margin-top: 16px
}
.team__social-list>li:not(:last-child){
    margin-right: 10px;
}
.team__social-element{
    width: 44px;
    height: 44px;
    background-color: $primary-white-color;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--icon-color);
    border-radius: 50%;
    transition:  $transition;
    &:focus, &:hover{
        color: $primary-white-color;
        background-color: $accent-color;
    }
}

.team__icon{
    width: 20px;
    height: 20px;
    fill: currentColor;
}